$small_mobile_width: 25em; //400px
$small_mobile_landscape_width: 31.25em; //500px
$mobile_width: 37.5em;//600px
$small_tablet_width: 48em ;// 768px
$tablet_width: 60em; //960px
$desktop_width: 80em; //1280
$wide_width: 120em; //1920 , x 1080

@mixin min-media($res) {
  @if small-mobile == $res {
    @media only screen and (min-width: $small_mobile_width) {
      @content;
    }
  }

  @if mobile == $res {
    @media only screen and (min-width: $mobile_width) {
      @content;
    }
  }

  @if mobile-landscape == $res {
    @media only screen and (min-width: $small_mobile_landscape_width) {
      @content;
    }
  }

  @if small-tablet == $res {
    @media only screen and (min-width: $small_tablet_width) {
      @content;
    }
  }

  @if tablet == $res {
    @media only screen and (min-width: $tablet_width) {
      @content;
    }
  }

  @if desktop == $res {
    @media only screen and (min-width: $desktop_width) {
      @content;
    }
  }

  @if wide == $res {
    @media only screen and (min-width: $wide_width) {
      @content;
    }
  }
}

@mixin max-media($res) {
  @if small-mobile == $res {
    @media only screen and (max-width: $small_mobile_width) {
      @content;
    }
  }

  @if mobile == $res {
    @media only screen and (max-width: $mobile_width) {
      @content;
    }
  }

  @if mobile-landscape == $res {
    @media only screen and (max-width: $small_mobile_landscape_width) {
      @content;
    }
  }

  @if small-tablet == $res {
    @media only screen and (max-width: $small_tablet_width) {
      @content;
    }
  }

  @if tablet == $res {
    @media only screen and (max-width: $tablet_width) {
      @content;
    }
  }

  @if desktop == $res {
    @media only screen and (max-width: $desktop_width) {
      @content;
    }
  }

  @if wide == $res {
    @media only screen and (max-width: $wide_width) {
      @content;
    }
  }
}
