@tailwind base;
@tailwind components;
@tailwind utilities;

.labelEl {
	background-color: red;
	position: absolute;
	z-index: 20;
	right: 0;
  bottom: 0;
  transform-origin: right bottom;
  scale:30%;
}

* {
  cursor: none;
  pointer-events: none;
}

button, a, canvas, .close-button, .dg * {
  pointer-events: auto;
  cursor: none;
}

:root, html, body {
  overscroll-behavior-y: none;
}

.dg {
  z-index: 999 !important;
}
