.slide-left-enter-active, .slide-left-leave-active,
.slide-bottom-enter-active, .slide-bottom-leave-active,
.fade-enter-active, .fade-leave-active {
  transition: all 0.5s ease !important;
}
.slide-left-enter, .slide-left-leave-active {
  opacity: 0 !important;
  transform: translateX(100%) !important;
}

.fade-enter, .fade-leave-to {
  opacity: 0 !important;
}

.slide-bottom-enter {
  opacity: 0 !important;
  transform: translateY(40px) !important;
}

.slide-bottom-leave-to {
  transform: translateY(-40px) !important;
}
